---
    import Layout from "../Layout/layout.astro";
    import home_logo from "../assets/images/home_logo.png";
    import g_logo from "../assets/images/G_logo.png";
---



 <Layout>
        <section>
            <div class="container relative">
                <div class="absolute flex items-center gap-[87px] top-[260px] left-[-120px] rotate-[270deg]">
                    <ul class="flex gap-[40px]">
                      <li class="text-white font-semibold">development</li>
                      <li class="text-white font-semibold">designing</li>
                      <li class="text-white font-semibold">digital marketing</li>
                    </ul>
                    <img id="home_logo" src={home_logo.src} alt="home_logo">
                  </div>
                <h2 class="text-white text-[40px] pt-[122px] pl-[172px] ">ABOUT US</h2>

                <div class="flex justify-center pl-[110px] pt-[50px] gap-[133px] relative">
                    <img src={g_logo.src} alt="logo">
                    <div>
                        <h2 class="text-white text-[65px] mb-[34px]">we are a digital production team.</h2>
                        <p class="text-white text-[40px] mb-[13px] w-[1064px]">Gleamy is a leading design & software development agency 
                            based in berlin. We help startups & Fortune 500 companies 
                            delight humans on the other side of the screen.</p>
                        <p class="text-white text-[25px] relative z-20">Contact us</p>
                    </div>

                    <svg  class="absolute bottom-[10px] left-[630px]" xmlns="http://www.w3.org/2000/svg" width="45" height="35" viewBox="0 0 45 35" fill="none">
                        <path d="M0.985195 16.7301L45 0.830949L45 19.0002L0.985214 34.8992L0.985195 16.7301Z" fill="#FF7E21"/>
                      </svg>
                    
                    <svg  class="absolute bottom-[75px] left-[1430px]" xmlns="http://www.w3.org/2000/svg" width="45" height="35" viewBox="0 0 45 35" fill="none">
                        <path d="M0.985195 16.7301L45 0.830949L45 19.0002L0.985214 34.8992L0.985195 16.7301Z" fill="#FF7E21"/>
                      </svg>
                </div>
            </div>
        </section>
 </Layout>


 <style>

    .container{
		max-width: 1920px;
		padding: 0 102px;
		margin: 0 auto;
	}
    #home_logo{
        animation-name: footer_logo;
        animation-duration: 40s;
        animation-iteration-count: infinite;
    }
 </style>