---
import Layout from "../Layout/layout.astro";
import home_logo from "../assets/images/home_logo.png";
import g_logo from "../assets/images/G_logo.png";
---

<Layout>
  <section class="">
    <div class="container relative">
        <h1 class="ml-[200px] mt-[110px] text-[90px] text-white w-[1002px] font-semibold relative z-10">Brand.<span class="text-[#ffffff47]">Design</span>.<span class="text-[#ffffff47]">Product</span>.
          in-hous development.
          &more</h1>
        <img class="absolute top-[10px] left-[220px]" src={g_logo.src} alt="">
        <div class="absolute flex items-center gap-[87px] top-[160px] left-[-120px] rotate-[270deg]">
          <ul class="flex gap-[40px]">
            <li class="text-white font-semibold">development</li>
            <li class="text-white font-semibold">designing</li>
            <li class="text-white font-semibold">digital marketing</li>
          </ul>
          <img id="home_logo" src={home_logo.src} alt="home_logo">
        </div>
        <div class="relative  h-[104px] w-[2459px] ">
          <div class="bg-white h-[104px] w-[1659px] rotate-[44.709deg] absolute right-[300px] top-[-340px] flex overflow-hidden gap-10">
              <ul class="flex gap-[50px] justify-center items-center" id="ul1">
                <svg class="mt-[30px]" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
                  <ellipse cx="9.1672" cy="9.0112" rx="8" ry="8.5" transform="rotate(57.66 9.1672 9.0112)" fill="#FF7E21"/>
                </svg>
                <li class="text-black mt-[20px] font-bold text-[40px]">marketing</li>
                <svg class="mt-[30px]" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
                  <ellipse cx="9.1672" cy="9.0112" rx="8" ry="8.5" transform="rotate(57.66 9.1672 9.0112)" fill="#FF7E21"/>
                </svg>
                <li class="text-black mt-[20px] font-bold text-[40px]">motion</li>
                <svg class="mt-[30px]" xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17" fill="none">
                  <ellipse cx="8.49911" cy="8.16452" rx="8" ry="8.5" transform="rotate(57.66 8.49911 8.16452)" fill="#FF7E21"/>
                </svg>
                <li class="text-black mt-[20px] font-bold text-[40px]">animation</li>
                <svg class="mt-[30px]" xmlns="http://www.w3.org/2000/svg" width="17" height="18" viewBox="0 0 17 18" fill="none">
                  <ellipse cx="8.8504" cy="8.92188" rx="8" ry="8.5" fill="#FF7E21"/>
                </svg>
                <li class="text-black mt-[20px] font-bold text-[40px]">Brnding</li>
                <svg class="mt-[30px]" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
                  <ellipse cx="9.1672" cy="9.0112" rx="8" ry="8.5" transform="rotate(57.66 9.1672 9.0112)" fill="#FF7E21"/>
                </svg>
              </ul>
              <ul class="flex gap-[50px] justify-center items-center" id="ul2">
                
                <li class="text-black mt-[20px] font-bold text-[40px]">marketing</li>
                <svg class="mt-[30px]" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
                  <ellipse cx="9.1672" cy="9.0112" rx="8" ry="8.5" transform="rotate(57.66 9.1672 9.0112)" fill="#FF7E21"/>
                </svg>
                <li class="text-black mt-[20px] font-bold text-[40px]">motion</li>
                <svg class="mt-[30px]" xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17" fill="none">
                  <ellipse cx="8.49911" cy="8.16452" rx="8" ry="8.5" transform="rotate(57.66 8.49911 8.16452)" fill="#FF7E21"/>
                </svg>
                <li class="text-black mt-[20px] font-bold text-[40px]">animation</li>
                <svg class="mt-[30px]" xmlns="http://www.w3.org/2000/svg" width="17" height="18" viewBox="0 0 17 18" fill="none">
                  <ellipse cx="8.8504" cy="8.92188" rx="8" ry="8.5" fill="#FF7E21"/>
                </svg>
                <li class="text-black mt-[20px] font-bold text-[40px]">Brnding</li>
                <svg class="mt-[30px]" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
                  <ellipse cx="9.1672" cy="9.0112" rx="8" ry="8.5" transform="rotate(57.66 9.1672 9.0112)" fill="#FF7E21"/>
                </svg>
              </ul>
          </div>
        </div>

        <div class="relative h-[104px] w-[2459px]">
          <div class="bg-[#212121] h-[104px] w-[2459px] rotate-[-12.952deg] absolute left-[-150px] bottom-[100px] flex overflow-hidden gap-10">
            <ul class="flex gap-[50px] justify-center items-center" id="ull1">
              <svg class="mt-[30px]" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
                <ellipse cx="9.1672" cy="9.0112" rx="8" ry="8.5" transform="rotate(57.66 9.1672 9.0112)" fill="#FF7E21"/>
              </svg>
              <li class="text-white mt-[20px] font-bold text-[40px]">marketing</li>
              <svg class="mt-[30px]" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
                <ellipse cx="9.1672" cy="9.0112" rx="8" ry="8.5" transform="rotate(57.66 9.1672 9.0112)" fill="#FF7E21"/>
              </svg>
              <li class="text-white mt-[20px] font-bold text-[40px]">motion</li>
              <svg class="mt-[30px]" xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17" fill="none">
                <ellipse cx="8.49911" cy="8.16452" rx="8" ry="8.5" transform="rotate(57.66 8.49911 8.16452)" fill="#FF7E21"/>
              </svg>
              <li class="text-white mt-[20px] font-bold text-[40px]">animation</li>
              <svg class="mt-[30px]" xmlns="http://www.w3.org/2000/svg" width="17" height="18" viewBox="0 0 17 18" fill="none">
                <ellipse cx="8.8504" cy="8.92188" rx="8" ry="8.5" fill="#FF7E21"/>
              </svg>
              <li class="text-white mt-[20px] font-bold text-[40px]">Brnding</li>
              <svg class="mt-[30px]" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
                <ellipse cx="9.1672" cy="9.0112" rx="8" ry="8.5" transform="rotate(57.66 9.1672 9.0112)" fill="#FF7E21"/>
              </svg>
            </ul>
            <ul class="flex gap-[50px] justify-center items-center" id="ull2">
              <svg class="mt-[30px]" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
                <ellipse cx="9.1672" cy="9.0112" rx="8" ry="8.5" transform="rotate(57.66 9.1672 9.0112)" fill="#FF7E21"/>
              </svg>
              <li class="text-white mt-[20px] font-bold text-[40px]">marketing</li>
              <svg class="mt-[30px]" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
                <ellipse cx="9.1672" cy="9.0112" rx="8" ry="8.5" transform="rotate(57.66 9.1672 9.0112)" fill="#FF7E21"/>
              </svg>
              <li class="text-white mt-[20px] font-bold text-[40px]">motion</li>
              <svg class="mt-[30px]" xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17" fill="none">
                <ellipse cx="8.49911" cy="8.16452" rx="8" ry="8.5" transform="rotate(57.66 8.49911 8.16452)" fill="#FF7E21"/>
              </svg>
              <li class="text-white mt-[20px] font-bold text-[40px]">animation</li>
              <svg class="mt-[30px]" xmlns="http://www.w3.org/2000/svg" width="17" height="18" viewBox="0 0 17 18" fill="none">
                <ellipse cx="8.8504" cy="8.92188" rx="8" ry="8.5" fill="#FF7E21"/>
              </svg>
              <li class="text-white mt-[20px] font-bold text-[40px]">Brnding</li>
              <svg class="mt-[30px]" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
                <ellipse cx="9.1672" cy="9.0112" rx="8" ry="8.5" transform="rotate(57.66 9.1672 9.0112)" fill="#FF7E21"/>
              </svg>
            </ul>
        </div>
        </div>
    </div>
  </section>
</Layout>


<style>
    .container{
		max-width: 1920px;
		padding: 0 102px;
		margin: 0 auto;
	}


  #home_logo{
        animation-name: footer_logo;
        animation-duration: 40s;
        animation-iteration-count: infinite;
    }

    @keyframes footer_logo{
        0%{
            transform: rotate(45deg);
        }
        100%{
            transform: rotate(720deg);
        }

    }

  #ul2{
    /* opacity: 0 !important; */
    animation-name: ul2;
    animation-duration: 33s;
    animation-iteration-count: infinite;
  }
  #ul1{
    animation-name: ul1;
    animation-duration: 33s;
    animation-iteration-count: infinite;
  }

  @keyframes ul2{
    0%{
      transform: translateX(0px);
    }
    20%{
      transform: translateX(450px);
    }
    25%{
      opacity: 0;
      transform: translateX(-1900px);
    }

    28%{
      opacity: 1;
    }
    
    100%{
      transform: translateX(0px)
    }
  }

  @keyframes ul1{
    0%{
      transform: translateX(0px);
    }
    40%{
      transform: translateX(1700px);
    }

    50%{
      opacity: 0;
      transform: translate(-800px);
    }

    53%{
      opacity: 1;
    }


    100%{
      transform: translateX(0);
    }
  }



  #ull2{
    /* opacity: 0 !important; */
    animation-name: ull2;
    animation-duration: 40s;
    animation-iteration-count: infinite;
  }
  #ull1{
    animation-name: ull1;
    animation-duration: 40s;
    animation-iteration-count: infinite;
  }

  @keyframes ull2{
    0%{
      transform: translateX(0px);
    }
    20%{
      transform: translateX(800px);
    }
    23%{
      opacity: 0;
      transform: translateX(-2300px);
    }

    30%{
      opacity: 1;
    }
    
    100%{
      transform: translateX(0px)
    }
  }

  @keyframes ull1{
    0%{
      transform: translateX(0px);
    }
    50%{
      transform: translateX(2400px);
    }

    60%{
      opacity: 0;
      transform: translate(-800px);
    }

    70%{
      opacity: 1;
    }


    100%{
      transform: translateX(0);
    }
  }
</style>